@charset "UTF-8";

/* Configurações para outras medias */

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        width: 150px;
    }

    main {
        width: 768px;
    }
}