@charset "UTF-8";

/* DEFAULT */
html, body {
    font-family: sans-serif;
    background-color: #333;
    color: #eee;
}

h2 {
    color: #458688;
    font-size: 23px;
}

hr {
    margin-top: 40px;
    margin-bottom: 30px;
    opacity: 0.2;
}

div {
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: row;
}
/* END DEFAULT */

/* COLORS */

.red {
    background-color: #e74c3c;
}

.blue {
    background-color: #3498db;
}

.green {
    background-color: rgb(15, 165, 15);
}

.yellow {
    background-color: yellow;
}

/* END COLORS*/