@charset "UTF-8";

 /* TELAS GRANDES */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
