@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #C77708, #FA960A);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(95, 57, 4, 0.644);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#7A4905;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(95, 57, 4, 0.644);
}

h2 {
    color: #7E7261;
}

p {
    text-align: justify;
}
